RewriteEngine on

RewriteRule ^.*classdetails/warborough.*$ /classdetails/index.html


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html


RedirectMatch "(.*)/articles/(.*)" "$1/blog/$2"


